@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/svn/SVN-GilroyBoldItalic.woff2") format("woff2"), url("../fonts/svn/SVN-GilroyBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/svn/SVN-GilroyBlackItalic.woff2") format("woff2"), url("../fonts/svn/SVN-GilroyBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/svn/SVN-GilroyBlack.woff2") format("woff2"), url("../fonts/svn/SVN-GilroyBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy XLight";
  src: url("../fonts/svn/SVN-GilroyXLight.woff2") format("woff2"), url("../fonts/svn/SVN-GilroyXLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/svn/SVN-GilroyLight.woff2") format("woff2"), url("../fonts/svn/SVN-GilroyLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/svn/SVN-GilroyMediumItalic.woff2") format("woff2"), url("../fonts/svn/SVN-GilroyMediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/svn/SVN-GilroyMedium.woff2") format("woff2"), url("../fonts/svn/SVN-GilroyMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/svn/SVN-GilroyHeavyItalic.woff2") format("woff2"), url("../fonts/svn/SVN-GilroyHeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/svn/SVN-GilroyHeavy.woff2") format("woff2"), url("../fonts/svn/SVN-GilroyHeavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/svn/SVN-GilroyBold.woff2") format("woff2"), url("../fonts/svn/SVN-GilroyBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/svn/SVN-GilroyItalic.woff2") format("woff2"), url("../fonts/svn/SVN-GilroyItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/svn/SVN-GilroyLightItalic.woff2") format("woff2"), url("../fonts/svn/SVN-GilroyLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/svn/SVN-GilroySemiBold.woff2") format("woff2"), url("../fonts/svn/SVN-GilroySemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/svn/SVN-GilroyThinItalic.woff2") format("woff2"), url("../fonts/svn/SVN-GilroyThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/svn/SVN-GilroyThin.woff2") format("woff2"), url("../fonts/svn/SVN-GilroyThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy XBold";
  src: url("../fonts/svn/SVN-GilroyXBoldItalic.woff2") format("woff2"), url("../fonts/svn/SVN-GilroyXBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/svn/SVN-Gilroy.woff2") format("woff2"), url("../fonts/svn/SVN-Gilroy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy XBold";
  src: url("../fonts/svn/SVN-GilroyXBold.woff2") format("woff2"), url("../fonts/svn/SVN-GilroyXBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/svn/SVN-GilroySemiBoldItalic.woff2") format("woff2"), url("../fonts/svn/SVN-GilroySemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy XLight";
  src: url("../fonts/svn/SVN-GilroyXLightItalic.woff2") format("woff2"), url("../fonts/svn/SVN-GilroyXLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Graebenbach";
  src: url("../fonts/Graebenbach/GraebenbachMono-Black.woff2") format("woff2"), url("../fonts/Graebenbach/GraebenbachMono-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graebenbach";
  src: url("../fonts/Graebenbach/GraebenbachMono-Regular.woff2") format("woff2"), url("../fonts/Graebenbach/GraebenbachMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graebenbach";
  src: url("../fonts/Graebenbach/GraebenbachMono-Bold.woff2") format("woff2"), url("../fonts/Graebenbach/GraebenbachMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graebenbach";
  src: url("../fonts/Graebenbach/GraebenbachMono-Light.woff2") format("woff2"), url("../fonts/Graebenbach/GraebenbachMono-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graebenbach";
  src: url("../fonts/Graebenbach/GraebenbachMono-Medium.woff2") format("woff2"), url("../fonts/Graebenbach/GraebenbachMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}
html.active {
  overflow: hidden;
}

body {
  box-sizing: border-box;
  color: #1d1d1b;
  background: #fff;
  padding: 0 !important;
  font-size: 20px;
  transition: 0.3s all;
  position: relative;
  font-family: "SVN-Gilroy";
  overflow-x: hidden;
}
@media (max-width: 1600px) {
  body {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 1023px) {
  body {
    font-size: 14px;
  }
}
body p, body label, body ul, body li, body a {
  text-decoration: none !important;
  transition: 0.2s all;
  margin-bottom: 0;
  outline: none !important;
}
body a {
  transition: 0.3s all !important;
  color: #2E2E2E;
}
body ul {
  padding: 0;
  margin: 0;
}
body input,
body button {
  outline: none !important;
  box-shadow: none;
  transition: 0.3s all;
}
body .slick-slide {
  height: auto;
}
body .slick-slide img {
  display: inline;
}
body .container {
  width: 100%;
  max-width: 1920px;
  padding: 0 110px;
}
@media (max-width: 1600px) {
  body .container {
    padding: 0 80px;
  }
}
@media (max-width: 1400px) {
  body .container {
    padding: 0 60px;
  }
}
@media (max-width: 1200px) {
  body .container {
    padding: 0 40px;
  }
}
@media (max-width: 767px) {
  body .container {
    padding: 0 24px;
  }
}
body .container-fluid {
  padding: 0 100px;
}
body img {
  max-width: 100%;
}
body .slick-slider {
  margin-bottom: 0;
}

.slick-arrow {
  position: absolute;
  z-index: 2;
  top: calc(50% - 25px);
  width: 50px;
  height: 40px;
}
@media (max-width: 1400px) {
  .slick-arrow {
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 1400px) {
  .slick-arrow {
    top: calc(50% - 12.5px);
    width: 25px;
    height: 25px;
  }
}
.slick-arrow.arr-left {
  left: -55px;
}
@media (max-width: 1400px) {
  .slick-arrow.arr-left {
    left: -40px;
  }
}
@media (max-width: 767px) {
  .slick-arrow.arr-left {
    left: 0;
  }
}
.slick-arrow.arr-right {
  right: -55px;
}
@media (max-width: 1400px) {
  .slick-arrow.arr-right {
    right: -40px;
  }
}
@media (max-width: 1200px) {
  .slick-arrow.arr-right {
    right: -25px;
  }
}
@media (max-width: 767px) {
  .slick-arrow.arr-right {
    right: 0;
  }
}

header {
  position: relative;
  z-index: 2;
}

.header-top {
  background: #efeeec;
  padding: 20px 0;
}
@media (max-width: 1600px) {
  .header-top {
    padding: 14px 0;
  }
}
@media (max-width: 1400px) {
  .header-top {
    padding: 10px 0;
  }
}
@media (max-width: 767px) {
  .header-top {
    background: #fff;
  }
}
.header-top .translate {
  font-weight: bold;
}
.header-top .translate img {
  position: relative;
  top: -4px;
  margin-left: 10px;
}
.header-top .translate ul {
  list-style: none;
  display: none;
}

.header-menu {
  padding: 45px 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 1600px) {
  .header-menu {
    padding: 24px 0;
  }
}
@media (max-width: 767px) {
  .header-menu {
    background: #ebebeb;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s all !important;
  }
  .header-menu.active {
    left: 0;
  }
}
.header-menu .logo img {
  height: 60px;
}
@media (max-width: 1600px) {
  .header-menu .logo img {
    height: 50px;
  }
}
@media (max-width: 1023px) {
  .header-menu .logo img {
    height: 40px;
  }
}

.content-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 23px;
}
@media (max-width: 1600px) {
  .content-menu {
    font-size: 20px;
  }
}
@media (max-width: 1600px) {
  .content-menu {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .content-menu {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .content-menu {
    display: block;
  }
}
.content-menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .content-menu ul {
    display: block;
    text-align: center;
    font-size: 21px;
  }
}
.content-menu ul li {
  margin-right: 90px;
}
@media (max-width: 1600px) {
  .content-menu ul li {
    margin-right: 75px;
  }
}
@media (max-width: 1200px) {
  .content-menu ul li {
    margin-right: 45px;
  }
}
@media (max-width: 1023px) {
  .content-menu ul li {
    margin-right: 25px;
  }
}
@media (max-width: 767px) {
  .content-menu ul li {
    margin: 0 0 35px 0;
  }
  .content-menu ul li:last-child {
    margin-bottom: 0;
  }
}
.content-menu ul li:Last-child {
  margin-right: 0;
}
.content-menu .h-menu .h-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background: #fab518;
  padding: 0 30px;
  border-radius: 70px;
}
@media (max-width: 1600px) {
  .content-menu .h-menu .h-contact {
    height: 60px;
  }
}
@media (max-width: 1200px) {
  .content-menu .h-menu .h-contact {
    height: 55px;
  }
}
@media (max-width: 1023px) {
  .content-menu .h-menu .h-contact {
    height: 45px;
    padding: 0 20px;
  }
}
.content-menu .h-menu .h-contact img {
  margin-left: 25px;
}
@media (max-width: 1023px) {
  .content-menu .h-menu .h-contact img {
    margin-left: 10px;
  }
}
@media (max-width: 767px) {
  .content-menu .left {
    display: none;
  }
}

.head-mobile {
  padding: 15px 0;
  background: #ebebeb;
}
@media (max-width: 767px) {
  .head-mobile {
    display: block !important;
  }
}
.head-mobile .logo img {
  height: 30px;
}
.head-mobile .btn-bar a {
  font-size: 21px;
}

.btn-close-menu {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 767px) {
  .btn-close-menu {
    display: block !important;
  }
}
.btn-close-menu a {
  display: flex;
  width: 30px;
  height: 30px;
  background: #fab518;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
}

footer {
  background: #efeeec;
}

.fter-top {
  padding: 60px 0;
  font-size: 23px;
  line-height: initial;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1600px) {
  .fter-top {
    font-size: 20px;
    padding: 40px 0;
  }
}
@media (max-width: 1400px) {
  .fter-top {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .fter-top {
    font-size: 16px;
    flex-wrap: wrap;
    padding: 32px 0;
  }
}
@media (max-width: 767px) {
  .fter-top .right {
    order: 1;
    margin-bottom: 24px;
  }
  .fter-top .right .logo img {
    height: 45px;
  }
}
.fter-top .left {
  display: flex;
}
@media (max-width: 767px) {
  .fter-top .left {
    display: block;
    flex: 0 0 100%;
    order: 2;
  }
}
.fter-top .left .txt-place {
  margin-right: 70px;
}
@media (max-width: 767px) {
  .fter-top .left .txt-place {
    margin: 0 0 24px 0;
  }
}
.fter-top strong {
  font-weight: bold;
}
.fter-top ul {
  list-style: none;
}

.fter-bot {
  padding: 20px 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  border-top: 1px solid #c5c4c3;
}
@media (max-width: 1600px) {
  .fter-bot {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .fter-bot {
    font-size: 14px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
  }
  .fter-bot .right {
    display: none;
  }
}
.fter-bot a {
  display: flex;
  align-items: center;
}
.fter-bot ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.fter-bot .social ul li {
  margin-right: 18px;
}
.fter-bot .social ul li:last-child {
  margin-right: 0;
}
.fter-bot .policy ul li {
  margin-right: 50px;
}
.fter-bot .policy ul li:last-child {
  margin-right: 0;
}

.btn-main a {
  display: inline-flex;
  border: 4px solid #1d1d1b;
  align-items: center;
  justify-content: center;
  border-radius: 70px;
  font-size: 23px;
  font-weight: bold;
  height: 70px;
  padding: 0 35px;
}
@media (max-width: 1600px) {
  .btn-main a {
    height: 60px;
    padding: 0 26px;
    font-size: 20px;
  }
}
@media (max-width: 1400px) {
  .btn-main a {
    height: 55px;
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .btn-main a {
    height: 45px;
    font-size: 14px;
  }
}
.btn-main a img {
  position: relative;
  margin-left: 30px;
}
@media (max-width: 1600px) {
  .btn-main a img {
    margin-left: 20px;
    top: 2px;
  }
}
@media (max-width: 1023px) {
  .btn-main a img {
    margin-left: 10px;
    top: 2px;
  }
}

.title {
  margin-bottom: 40px;
}
@media (max-width: 1600px) {
  .title {
    margin-bottom: 30px;
  }
}
.title h2 {
  margin: 0;
  font-size: 55px;
  font-weight: bold;
}
@media (max-width: 1600px) {
  .title h2 {
    font-size: 50px;
  }
}
@media (max-width: 1400px) {
  .title h2 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .title h2 {
    font-size: 32px;
  }
}

.box-banner-gill {
  padding: 300px 0 45px 0;
  position: relative;
  background: linear-gradient(90deg, rgb(233, 232, 230) 0%, rgb(255, 255, 255) 78%);
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: -160px;
}
@media (max-width: 1600px) {
  .box-banner-gill {
    padding: 250px 0 45px 0;
    margin-top: -108px;
  }
}
@media (max-width: 1400px) {
  .box-banner-gill {
    padding: 250px 0 24px 0;
  }
}
@media (max-width: 1200px) {
  .box-banner-gill {
    margin-top: -103px;
  }
}
@media (max-width: 1023px) {
  .box-banner-gill {
    margin-top: -93px;
  }
}
@media (max-width: 767px) {
  .box-banner-gill {
    margin-top: 0;
    height: calc(100vh - 102px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
  }
}

.content-banner .desc {
  font-size: 30px;
  margin: 45px 0 135px 0;
}
@media (max-width: 1600px) {
  .content-banner .desc {
    font-size: 26px;
  }
}
@media (max-width: 1400px) {
  .content-banner .desc {
    font-size: 22px;
    margin: 25px 0 85px 0;
  }
}
@media (max-width: 1200px) {
  .content-banner .desc {
    font-size: 18px;
    margin: 25px 0 85px 0;
  }
}
@media (max-width: 1023px) {
  .content-banner .desc {
    font-size: 16px;
    margin: 20px 0 50px 0;
  }
}

.box-aanbod {
  padding: 80px 0 0 0;
}
@media (max-width: 767px) {
  .box-aanbod {
    padding: 40px 0 0 0;
  }
}

.tab-aanbod .tab-top {
  margin-bottom: 115px;
}
@media (max-width: 1600px) {
  .tab-aanbod .tab-top {
    margin-bottom: 80px;
  }
}
@media (max-width: 1400px) {
  .tab-aanbod .tab-top {
    margin-bottom: 60px;
  }
}
@media (max-width: 1023px) {
  .tab-aanbod .tab-top {
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .tab-aanbod .tab-top {
    overflow: auto;
  }
}
.tab-aanbod .tab-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: 0 30px;
  border-radius: 40px;
}
@media (max-width: 1200px) {
  .tab-aanbod .tab-top a {
    height: 40px;
  }
}
@media (max-width: 767px) {
  .tab-aanbod .tab-top a {
    height: 32px;
    padding: 0 24px;
  }
}
.tab-aanbod .tab-top a.active {
  background: #fab518;
}
.tab-aanbod ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: bold;
}
@media (max-width: 1600px) {
  .tab-aanbod ul {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .tab-aanbod ul {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .tab-aanbod ul {
    font-size: 16px;
    width: max-content;
  }
}

.content-tab-aa {
  position: relative;
}
.content-tab-aa .tab-content {
  position: absolute;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  width: 100%;
  left: 0;
  top: 0;
}
.content-tab-aa .tab-content.active {
  pointer-events: unset;
  opacity: 1;
  z-index: 1;
  position: relative;
}
.content-tab-aa .tab-content .col-md-4 {
  margin-bottom: 30px;
}
@media (max-width: 1023px) {
  .content-tab-aa .tab-content .col-md-4 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
@media (max-width: 1023px) {
  .content-tab-aa .tab-content .col-md-4 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.slide-aan {
  margin: 0 -20px;
}
@media (max-width: 1400px) {
  .slide-aan {
    margin: 0 -12px;
  }
}
.slide-aan .item-slide {
  padding: 5px 20px;
}
@media (max-width: 1400px) {
  .slide-aan .item-slide {
    padding: 5px 12px;
  }
}

.item-aan {
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(29, 29, 27, 0.17);
  height: 100%;
}
.item-aan .avarta {
  position: relative;
  overflow: hidden;
  padding-top: 67.2897196262%;
}
.item-aan .avarta img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s all !important;
  opacity: 0.5;
}
.item-aan .avarta img:hover {
  transform: scale(1.05);
  opacity: 1;
}
.item-aan .info {
  padding: 35px 15px;
  font-size: 20px;
}
@media (max-width: 1600px) {
  .item-aan .info {
    padding: 25px;
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .item-aan .info {
    font-size: 16px;
  }
}
.item-aan .info h3 a {
  display: block;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 25px;
}
@media (max-width: 1600px) {
  .item-aan .info h3 a {
    font-size: 36px;
    margin-bottom: 18px;
  }
}
@media (max-width: 1400px) {
  .item-aan .info h3 a {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .item-aan .info h3 a {
    font-size: 24px;
  }
}
.item-aan .info .desc {
  margin-bottom: 35px;
}
@media (max-width: 1600px) {
  .item-aan .info .desc {
    margin-bottom: 25px;
  }
}
.item-aan .btn-more a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  border: 4px solid;
  padding: 0 25px 3px 25px;
  border-radius: 50px;
}
@media (max-width: 1200px) {
  .item-aan .btn-more a {
    font-size: 16px;
    height: 45px;
  }
}
@media (max-width: 767px) {
  .item-aan .btn-more a {
    font-size: 14px;
    height: 40px;
    border: 1px solid;
  }
}
.item-aan .btn-more a img {
  position: relative;
  top: 2px;
  margin-left: 15px;
}

.box-realisaties {
  padding: 240px 0;
}
@media (max-width: 1600px) {
  .box-realisaties {
    padding: 180px 0;
  }
}
@media (max-width: 1400px) {
  .box-realisaties {
    padding: 120px 0;
  }
}
@media (max-width: 767px) {
  .box-realisaties {
    padding: 48px 0;
  }
}
.box-realisaties .title {
  margin-bottom: 115px;
}
@media (max-width: 1600px) {
  .box-realisaties .title {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .box-realisaties .title {
    margin-bottom: 24px;
  }
}

.list-real {
  margin-bottom: 100px;
}
@media (max-width: 1600px) {
  .list-real {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .list-real {
    margin-bottom: 24px;
  }
}

.item-real .avarta {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}
.item-real .avarta img {
  transition: 0.4s all !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-real .avarta img:hover {
  transform: scale(1.05);
}

.txt-overons {
  font-size: 26px;
  line-height: initial;
}
@media (max-width: 1600px) {
  .txt-overons {
    font-size: 22px;
  }
}
@media (max-width: 1400px) {
  .txt-overons {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .txt-overons {
    margin-top: 35px;
  }
}
@media (max-width: 767px) {
  .txt-overons {
    margin-top: 24px;
    font-size: 16px;
  }
}
.txt-overons p {
  margin-bottom: 30px;
}
.txt-overons p:Last-child {
  margin-bottom: 0;
}
.txt-overons .desc {
  margin-bottom: 45px;
}
@media (max-width: 767px) {
  .txt-overons .desc {
    margin-bottom: 32px;
  }
}

.box-contact {
  padding: 260px 0 220px 0;
}
@media (max-width: 1600px) {
  .box-contact {
    padding: 180px 0;
  }
}
@media (max-width: 1400px) {
  .box-contact {
    padding: 120px 0;
  }
}
@media (max-width: 767px) {
  .box-contact {
    padding: 60px 0;
  }
}
.box-contact .title {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .box-contact .title {
    margin-bottom: 0;
  }
}
.box-contact .top {
  line-height: initial;
  font-size: 26px;
  margin-bottom: 100px;
}
@media (max-width: 1600px) {
  .box-contact .top {
    font-size: 20px;
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .box-contact .top {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.frm-contact {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1600px) {
  .frm-contact {
    max-width: 1000px;
  }
}
.frm-contact .item-frm {
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  .frm-contact .item-frm {
    margin-bottom: 24px;
  }
}
.frm-contact .item-frm:last-child {
  margin-bottom: 0;
  margin-top: 100px;
}
@media (max-width: 1600px) {
  .frm-contact .item-frm:last-child {
    margin-top: 60px;
  }
}
@media (max-width: 767px) {
  .frm-contact .item-frm:last-child {
    margin-top: 20px;
  }
}
.frm-contact .item-frm .row {
  margin: 0 -25px;
}
.frm-contact .item-frm .row > div {
  padding: 0 25px;
}
@media (max-width: 767px) {
  .frm-contact .item-frm .row > div {
    margin-bottom: 24px;
  }
  .frm-contact .item-frm .row > div:last-child {
    margin-bottom: 0;
  }
}
.frm-contact .item-frm .txt_field {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #232323;
  padding: 0 30px 4px 30px;
  font-size: 42px;
}
.frm-contact .item-frm .txt_field::placeholder {
  color: #bcbcbc;
}
@media (max-width: 1600px) {
  .frm-contact .item-frm .txt_field {
    padding: 0 20px;
    font-size: 32px;
  }
}
@media (max-width: 1400px) {
  .frm-contact .item-frm .txt_field {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .frm-contact .item-frm .txt_field {
    font-size: 16px;
    height: 45px;
    padding: 0;
  }
}
.frm-contact .item-frm textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #232323;
  padding: 4px 30px;
  font-size: 42px;
  height: 165px;
  outline: none;
}
.frm-contact .item-frm textarea::placeholder {
  color: #bcbcbc;
}
@media (max-width: 1600px) {
  .frm-contact .item-frm textarea {
    padding: 0 20px;
    font-size: 32px;
    height: 140px;
  }
}
@media (max-width: 1400px) {
  .frm-contact .item-frm textarea {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .frm-contact .item-frm textarea {
    font-size: 16px;
    height: 60px;
    padding: 0;
  }
}
.frm-contact .item-frm .btn_field {
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 70px;
  border-radius: 70px;
  padding: 0 30px 4px 30px;
  border: 0;
  background: #fab518;
}
@media (max-width: 1600px) {
  .frm-contact .item-frm .btn_field {
    padding: 0 30px;
    height: 60px;
  }
}
@media (max-width: 1400px) {
  .frm-contact .item-frm .btn_field {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .frm-contact .item-frm .btn_field {
    font-size: 16px;
    padding: 0 24px;
    height: 45px;
  }
}
.frm-contact .item-frm .btn_field img {
  position: relative;
  top: 3px;
  margin-left: 30px;
}
@media (max-width: 767px) {
  .frm-contact .item-frm .btn_field img {
    top: 1px;
    margin-left: 15px;
  }
}

.contact-cate .maps {
  display: flex;
  align-items: center;
}
.contact-cate .maps iframe {
  width: 100%;
  height: 600px;
}
@media (max-width: 1600px) {
  .contact-cate .maps iframe {
    height: 400px;
  }
}

.info-contact {
  padding: 180px 0 230px 0;
  margin: 0 auto;
  max-width: 1170px;
}
@media (max-width: 1600px) {
  .info-contact {
    padding: 120px 0;
  }
}
@media (max-width: 767px) {
  .info-contact {
    padding: 48px 0;
  }
}
.info-contact .txt-contact {
  max-width: 245px;
}
@media (max-width: 767px) {
  .info-contact .txt-contact {
    max-width: 100%;
    padding: 48px 0 0 0;
  }
}

.content-contact {
  margin-top: 45px;
}
@media (max-width: 767px) {
  .content-contact {
    margin-top: 24px;
  }
}
.content-contact ul {
  list-style: none;
  font-size: 24px;
}
@media (max-width: 1600px) {
  .content-contact ul {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .content-contact ul {
    font-size: 16px;
  }
}
.content-contact ul li {
  margin-bottom: 20px;
}
.content-contact ul li:last-child {
  margin-bottom: 0;
}
.content-contact ul li strong {
  font-weight: bold;
}
.content-contact h3 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 45px;
}
@media (max-width: 1600px) {
  .content-contact h3 {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .content-contact .col-contact:first-child {
    order: 2;
  }
  .content-contact .col-contact:last-child {
    order: 1;
  }
}

.form-contact .item-frm {
  margin-bottom: 30px;
}
@media (max-width: 1600px) {
  .form-contact .item-frm {
    margin-bottom: 20px;
  }
}
.form-contact .item-frm:last-child {
  margin-bottom: 0;
}
.form-contact .item-frm .row {
  margin: 0 -8px;
}
.form-contact .item-frm .row > div {
  padding: 0 8px;
}
.form-contact .item-frm .txt_field {
  font-size: 24px;
  border: 0;
  border-bottom: 1px solid #333333;
  width: 100%;
  padding: 18px 0;
}
@media (max-width: 1023px) {
  .form-contact .item-frm .txt_field {
    font-size: 18px;
  }
}
.form-contact .item-frm .txt_field::placeholder {
  color: #cccccc;
}
.form-contact .item-frm textarea {
  font-size: 24px;
  border: 0;
  border-bottom: 1px solid #333333;
  width: 100%;
  padding: 18px 0;
  outline: none;
}
@media (max-width: 1023px) {
  .form-contact .item-frm textarea {
    font-size: 18px;
  }
}
.form-contact .item-frm textarea::placeholder {
  color: #cccccc;
}
.form-contact .item-frm .btn_field {
  margin-top: 30px;
  cursor: pointer;
  height: 65px;
  background: #fab518;
  border: 0;
  border-radius: 70px;
  font-size: 23px;
  font-weight: bold;
  padding: 0 100px;
  position: relative;
}
@media (max-width: 1600px) {
  .form-contact .item-frm .btn_field {
    margin-top: 15px;
    height: 55px;
    font-size: 20px;
  }
}
.form-contact .item-frm .btn_field img {
  position: absolute;
  top: calc(50% - 4px);
  right: 30px;
}

.desc-detail {
  font-size: 26px;
  max-width: 1380px;
  margin: 0 auto;
  line-height: 1.4;
}
@media (max-width: 1600px) {
  .desc-detail {
    font-size: 20px;
  }
}
@media (max-width: 1400px) {
  .desc-detail {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .desc-detail {
    font-size: 16px;
  }
}
.desc-detail.title-overons {
  padding-left: 60px;
  border-left: 5px solid #ff0000;
}
@media (max-width: 1023px) {
  .desc-detail.title-overons {
    padding-left: 25px;
  }
}
@media (max-width: 767px) {
  .desc-detail.title-overons {
    padding-left: 0;
    border-left: 0;
  }
}

.list-aan-detail {
  padding: 200px 0;
}
@media (max-width: 1600px) {
  .list-aan-detail {
    padding: 140px 0;
  }
}
@media (max-width: 767px) {
  .list-aan-detail {
    padding: 48px 0;
  }
}
.list-aan-detail .item-detail {
  margin-bottom: 200px;
}
@media (max-width: 1600px) {
  .list-aan-detail .item-detail {
    margin-bottom: 140px;
  }
}
@media (max-width: 767px) {
  .list-aan-detail .item-detail {
    margin-bottom: 32px;
  }
}
.list-aan-detail .item-detail .row {
  margin: 0;
}
.list-aan-detail .item-detail .row > div {
  padding: 0;
}
.list-aan-detail .item-detail:last-child {
  margin-bottom: 0;
}
.list-aan-detail .item-detail:nth-child(2n) .col-md-6:last-child {
  order: 1;
}
@media (max-width: 767px) {
  .list-aan-detail .item-detail:nth-child(2n) .col-md-6:last-child {
    order: 2;
  }
}
.list-aan-detail .item-detail:nth-child(2n) .col-md-6:first-child {
  order: 2;
}
@media (max-width: 767px) {
  .list-aan-detail .item-detail:nth-child(2n) .col-md-6:first-child {
    order: 1;
  }
}

.txt-detail {
  max-width: 650px;
  margin: 0 auto;
  font-size: 26px;
}
@media (max-width: 1600px) {
  .txt-detail {
    font-size: 20px;
    max-width: 100%;
    padding: 0 40px;
  }
}
@media (max-width: 1200px) {
  .txt-detail {
    font-size: 16px;
    padding: 0 30px;
  }
}
@media (max-width: 1023px) {
  .txt-detail {
    font-size: 16px;
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .txt-detail {
    margin-top: 24px;
    padding: 0;
  }
}
.txt-detail .desc {
  padding: 0 0 40px 0;
}
.txt-detail h4 {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 40px;
}
@media (max-width: 1600px) {
  .txt-detail h4 {
    font-size: 45px;
    margin-bottom: 30px;
    line-height: 1.1;
  }
}
@media (max-width: 1200px) {
  .txt-detail h4 {
    font-size: 35px;
    margin-bottom: 20px;
    line-height: 1.1;
  }
}
@media (max-width: 1023px) {
  .txt-detail h4 {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

.detail-cate {
  padding: 180px 0 0 0;
}
@media (max-width: 1600px) {
  .detail-cate {
    padding: 120px 0 0 0;
  }
}
@media (max-width: 1400px) {
  .detail-cate {
    padding: 80px 0 0 0;
  }
}
@media (max-width: 767px) {
  .detail-cate {
    padding: 48px 0 0 0;
  }
}
.detail-cate .tab-aanbod {
  padding: 100px 0 275px 0;
}
@media (max-width: 1600px) {
  .detail-cate .tab-aanbod {
    padding: 100px 0 180px 0;
  }
}
@media (max-width: 767px) {
  .detail-cate .tab-aanbod {
    padding: 48px 0;
  }
}

.slide-team {
  margin: 0 -15px;
}
@media (max-width: 767px) {
  .slide-team {
    margin: 0 -7px;
  }
}
@media (max-width: 767px) {
  .slide-team .item-slide {
    padding: 0 7px;
  }
}

.item-team {
  font-size: 24px;
  line-height: initial;
}
@media (max-width: 1600px) {
  .item-team {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .item-team {
    font-size: 16px;
  }
}
.item-team .avarta {
  margin-bottom: 40px;
}
@media (max-width: 1600px) {
  .item-team .avarta {
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .item-team .avarta {
    margin-bottom: 16px;
  }
}
.item-team ul {
  list-style: none;
}
.item-team p {
  font-style: italic;
  min-height: 64px;
  margin: 20px 0 26px 0;
}
@media (max-width: 1600px) {
  .item-team p {
    font-style: italic;
    min-height: 52px;
    margin: 15px 0;
  }
}
@media (max-width: 767px) {
  .item-team p {
    min-height: unset;
    margin: 10px 0;
  }
}
.item-team h6 {
  font-size: 32px;
  font-weight: bold;
}
@media (max-width: 1600px) {
  .item-team h6 {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .item-team h6 {
    font-size: 20px;
  }
}

.box-team {
  padding: 0 0 200px 0;
}
@media (max-width: 1600px) {
  .box-team {
    padding: 0 0 140px 0;
  }
}
@media (max-width: 767px) {
  .box-team {
    padding: 0 0 60px 0;
  }
}
.box-team .title {
  margin-bottom: 100px;
}
@media (max-width: 1600px) {
  .box-team .title {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .box-team .title {
    margin-bottom: 32px;
  }
}

.real-cate .tab-aanbod {
  padding: 100px 0 170px 0;
}
@media (max-width: 767px) {
  .real-cate .tab-aanbod {
    padding: 48px 0;
  }
}

.note-detail {
  max-width: 1370px;
  margin: 0 auto;
  line-height: initial;
  font-size: 18px;
}
@media (max-width: 1200px) {
  .note-detail {
    font-size: 14px;
  }
}
.note-detail .note {
  padding: 45px 0;
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
}
@media (max-width: 1600px) {
  .note-detail .note {
    font-size: 22px;
  }
}
@media (max-width: 1600px) {
  .note-detail .note {
    font-size: 18px;
    padding: 30px 0;
  }
}

@media (max-width: 1023px) {
  .content-overons .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.box-scroll-icon {
  margin-top: 70px;
}
@media (max-width: 1023px) {
  .box-scroll-icon {
    display: none;
  }
}
.box-scroll-icon a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
